.header {
    padding: 30px;
    display: flex;          /* Включаем flex-контейнер */
    justify-content: flex-end; /* Выравниваем элементы по правому краю */
    /* или можно использовать: */
    /* justify-content: space-between; если будут другие элементы */
}

.user-photo {
    width: 50px;     /* Подстройте под размер вашего фото */
    height: 40px;    /* Если нужно квадратное соотношение */
    /* object-fit: contain;  // Раскомментируйте, если фото искажается */
}