html,
body,
#root,
.App {
  width: 100% !important;
  height: 100% !important;
  background-image: url(../jpg/backExample2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}